.container {
    display: flex;
    /* background: #401735;
    border-radius: 15px; */


}

.texto1 {
    
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    text-align: start;

}



.imagen {
    width: 500px;
    margin-left: 70px;
    border-radius: 15px;
    

}
